dgl==1.0.0+cu117
einops==0.8.0
hyperopt==0.2.7
infomap==2.8.0
matplotlib==3.7.3
networkx==3.2.1
numpy==2.0.1
pandas==2.2.2
ray==2.34.0
SciencePlots==2.1.1
scikit_learn==1.3.1
scipy==1.14.0
seaborn==0.13.2
titlecase==2.4.1
torch==2.0.0+cu118
torch_geometric==2.5.3
torchdiffeq==0.2.4
tqdm==4.66.1
wandb==0.15.11
numpy==2.1.0
pandas==2.2.2
py2neo==2021.2.4
pykeen==1.10.3.dev0
pykeen.egg==info
rdflib==7.0.0
torch==2.0.0+cu118
